.LeftSideBarr{
height: calc(100vh - 56px);
background-color: #f8f9fa;
padding:10px;
}
.LeftSideBarr ul{
  padding-left: 0;
}
.LeftSideBarr li{
list-style: none;
text-align: center;


}
.LeftSideBarr a{
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}